/** @format */

section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.cards {
  width: 250px;
  padding: 20px;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 6px;
}
.image_box img {
  width: 150px;
  height: 200px;
}
.details p:nth-child(1) {
  font-weight: bold;
}
.details p:nth-child(2) {
  color: #333;
  font-size: 0.8rem;
  display: inline-block;
}
.details p:nth-child(3) {
  font-weight: bold;
  color: #333;
  display: inline-block;
  padding: 16px 24px;
}
.details button {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 12px;
  background-color: #e67e22;
  color: #fdf2e9;
  border-radius: 6px;
  cursor: pointer;
}
