/** @format */

.warning {
  height: 40px;
  width: 250px;
  position: absolute;
  right: 5%;
  top: 12%;
  background-color: #e67e22;
  font-size: 1rem;
  color: #fdf2e9;
  font-family: cursive;
  padding: 4px;
  border-radius: 10px;
}
